#efc-debug {
	font-family: 'Open Sans', 'Anonymous Pro', Helvetica, Arial, sans-serif;
	position: absolute;
	top: 28px;
	left: 0px;
	width: 100%;
	background-color: rgba(255,227,151,0.92);
	display: none;
	z-index: 9999;
}

#efc-debug pre {
	padding: 20px;
	border: 1px solid rgba(0,0,0,0.25);
	background-color: rgba(255,255,255,0.50);
	box-shadow: none;
}

#efc-debug-inner {
	padding: 20px;
}

#efc-debug h1,
#efc-debug h2,
#efc-debug h3,
#efc-debug h4,
#efc-debug h5,
#efc-debug h6 {
	font-family: 'Open Sans', 'Anonymous Pro', Helvetica, Arial, sans-serif;
	font-weight: bold;
	margin: 10px 0;
	padding: 0;
	text-transform: none;
	letter-spacing: normal;
	line-height: normal;
	color: black;
}

#efc-debug p,
#efc-debug a {
	font-family: 'Open Sans', 'Anonymous Pro', Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: black;
	font-size: 10pt;
	line-height: normal;
}

#efc-debug pre,
#efc-debug code {
	font-family: 'Open Sans', 'Anonymous Pro', Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: black;
	font-size: 10pt;
	line-height: normal;
}


#efc-debug h1 {
	font-size: 24pt;
}
#efc-debug h2 {
	font-size: 18pt;
}
#efc-debug h3 {
	font-size: 14pt;
}
#efc-debug h3
#efc-debug h4
#efc-debug h5
#efc-debug h6 {
	font-size: 10pt;
}

#wp-admin-bar-efc_debug_menu_wp_debug {
	background-color: #822e2e !important;
}

@media print {
	#efc-debug {
		display: none;
	}
}